.tenuki-board {
  max-width: 50%;
}

 @media (orientation:landscape) {
  html, body { height: 100%; }

  .tenuki-board {
    max-width: none;
    max-height: 100%;
  }
 }

.tenuki-board,
.controls {
  float: left;
}

.controls {
  margin-left: 10px;
  overflow: auto;
  margin-top: 18px;
}

.buttons a + a {
  margin-left: 1em;
}
.tabHeaders{
  margin-top: 1px;
}

.controls .game-info {
  padding: 0.3em 0.5em;
}

.controls .text-info {
  clear: both;
  height: 90%;
  overflow: auto;
  padding: 0.5em;
}
.Tab {
  margin-left: 10px;
  clear: both;
  height: 90%;
  overflow: auto;
  padding: 0.5em;
}

.tabHeaders .selected {
  background: #023b12;
}

.tabHeaders a {
  display: inline-block;
  height: 100%;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  padding: 0.3em 0.5em;
  border-radius: 1px;
  background: #02a931;
  color: white;
  margin-left: 0.1em;
}


.buttons a {
  display: inline-block;
  height: 100%;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  padding: 0.3em 0.5em;
  border-radius: 7px;
  background: #da7e16;
  color: white;
}



.notInSequence {
  background: red;
}

.win {
  background: green;
}

#rootProgress {
  margin: 20px;
  width: 200px;
  height: 100px;
}
