.tenuki-board {
  max-width: 50%;
}

 @media (orientation:landscape) {
  html, body { height: 100%; }

  .tenuki-board {
    max-width: none;
    max-height: 100%;
  }
 }

.tenuki-board,
.controls {
  float: left;
}

.controls {
  margin-left: 10px;
  overflow: auto;
  margin-top: 18px;
}

.buttons a + a {
  margin-left: 1em;
}
.tabHeaders{
  margin-top: 1px;
}

.controls .game-info {
  padding: 0.3em 0.5em;
}

.controls .text-info {
  clear: both;
  height: 90%;
  overflow: auto;
  padding: 0.5em;
}
.Tab {
  margin-left: 10px;
  clear: both;
  height: 90%;
  overflow: auto;
  padding: 0.5em;
}

.tabHeaders .selected {
  background: #023b12;
}

.tabHeaders a {
  display: inline-block;
  height: 100%;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  padding: 0.3em 0.5em;
  border-radius: 1px;
  background: #02a931;
  color: white;
  margin-left: 0.1em;
}


.buttons a {
  display: inline-block;
  height: 100%;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  padding: 0.3em 0.5em;
  border-radius: 7px;
  background: #da7e16;
  color: white;
}



.notInSequence {
  background: red;
}

.win {
  background: green;
}

#rootProgress {
  margin: 10px;
  width: 75px;
  height: 40px;
}
#rootSuccess {
  margin: 10px;
  width: 75px;
  height: 40px;
}
#localProgress {
  margin: 10px;
  width: 75px;
  height: 40px;
}
#localSuccess {
  margin: 10px;
  width: 75px;
  height: 40px;
}

.overlay {
    pointer-events: none;
  position:absolute;
  height: 100px;
  width: 100px;
  background: rgba(255, 0, 0, 0.2);
}
.resizer {
position: absolute;
height: 10px;
width: 10px;
border-radius: 5px;
background-color: black;
z-index: 2;
}
.resizer.nw{
top: -1px;
left: -1px;
cursor: nw-resize;
}
.resizer.ne{
top: -1px;
right: -1px;
cursor: ne-resize;
}
.resizer.sw{
bottom: -1px;
left: -1px;
cursor: sw-resize;
}
.resizer.se{
bottom: -1px;
right: -1px;
cursor: se-resize;
}
